[package]
name = "flashblocks-types"
version.workspace = true
edition.workspace = true

[dependencies]
alloy-primitives.workspace = true
alloy-sol-types.workspace = true
alloy-rpc-types.workspace = true
serde.workspace = true
serde_json.workspace = true
